* {
	margin: 0;
	padding: 0;
	font-family: Arial;
	box-sizing: border-box;
}

body {
	background: #ffffff;
	fbackground: url("../IMAGE/wa.png");
}

.logscreen {
	margin: auto;
	width: 30%;
	min-width: 300px;
	max-width: 500px;
	padding: 25px 20px;
	border: 2px solid #000000;
	border-radius: 15px;
	background: #F1F1F1;
}

.loglogo {
	text-align: center;
	margin-top: 7%;
	margin-bottom: 3%;
}

.logscreen input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: block;
  border: 1px solid #ccc;
  box-sizing: border-box;
  border-radius: 8px;
}

button:hover {
	opacity: 0.8;
}

.logscreen button[type=submit] {
	background: #4CAF50;
	border-radius: 4px;
	color: white;
	width: 80px;
	padding: 7px 5px;
	margin-right: 3px;
	margin-top: auto;
	margin-bottom: auto;
	border: 1px solid #29912D;
	box-sizing: border-box;
}

.logscreen button[type=button] {
	background: #108FE2;
	border-radius: 4px;
	color: white;
	width: 80px;
	padding: 7px 5px;
	border: 1px solid #0979C2;
	margin-left: 3px;
	margin-right: 3px;
	margin-top: auto;
	margin-bottom: auto;
	box-sizing: border-box;
}

.logscreen button[type=reset] {
	background: #ffffff;
	border-radius: 4px;
	color: black;
	width: 80px;
	padding: 7px 5px;
	border: 1px solid #000000;
	margin-top: auto;
	margin-bottom: auto;
	float: right;
	box-sizing: border-box;
}

label {
	font-size: 1.4rem;
	margin-left: 2px;
}

#info {
	font: 1.3rem;
	color: red;
	text-align: center;
	margin-top: 2rem;
}