<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Cancel | W.A.N.T.S</title>
		<link rel="stylesheet" type="text/css" href="css/cancel.css">
	</head>
	
	<body>
		<header>
			<div class="logo">
				<a href="https://www.waspc.org/" target="_blank">
	      	<img src="image/logo.png" alt="IMAGE">
	      </a>
   		</div>
		</header>

		<nav class="navbar">
					<a href="home">Home</a>
					<a href="query">Query Transport</a>
					<a href="insert" >Enter Transport</a>
					<a href="modify">Modify Transport</a>
					<a href="cancel" class="active">Cancel Transport</a>
					<a href="logs">Logs</a>
					<a href="index">Logout</a>
		</nav>

		<section>
			<h1>Cancel Transport</h1>
			<h1 id="info"><%= bad %></h1>
			<h1 id="good"><%= good %></h1>

			<form class="cancelform" method="POST" action="/cancel">
				
				<label id="firstlabel" for="firstinput">First Name</label> <!-- name field -->
				<input style="text-transform:uppercase" autocomplete="off" id="firstinput"  type="text" name="firstname" placeholder="Enter First Name" required>

				<label id="lastlabel" for="lastinput">Last Name</label> 
				<input style="text-transform:uppercase" autocomplete="off" id="lastinput"  type="text" name="lastname" placeholder="Enter Last Name" required>

				<label for="dobinput" id="doblabel" for="dobinput">DOB</label> 
				<input autocomplete="off" id="dobinput" type="date" name="dob" required>

				<!-- <label for="sexinput" id="sexlabel">Sex</label> 
				<select id="sexinput" name="sex" required>
					<option>M</option>
					<option>F</option>
					<option>X</option>
				</select> -->

				<label for="noteinput" id="notelabel">Reason</label> 
				<textarea style="text-transform:uppercase" id="noteinput" name="notes" placeholder="Enter reason for cancelation"></textarea> 

				<button id="confirmbtn" type="submit">Confirm</button> 
				<button id="cancelbtn" type="reset">Clear</button>

				
			</form>


		</section>




	</body>

	<script type="text/javascript">

		function forceInputUppercase(e)
		{
			var start = e.target.selectionStart;
			var end = e.target.selectionEnd;
			e.target.value = e.target.value.toUpperCase();
			e.target.setSelectionRange(start, end);
		}
		document.getElementById("firstinput").addEventListener("keyup", forceInputUppercase, false);
		document.getElementById("lastinput").addEventListener("keyup", forceInputUppercase, false);

	
	</script>

</html>










