<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Logs | W.A.N.T.S</title>
		<link rel="stylesheet" type="text/css" href="css/logs.css">
	</head>
	
	<body>
		<header>
			<div class="logo">
				<a href="https://www.waspc.org/" target="_blank">
	      	<img src="image/logo.png" alt="IMAGE">
	      </a>
   		</div>
		</header>

		<nav class="navbar">
					<a href="home">Home</a>
					<a href="query">Query Transport</a>
					<a href="insert">Enter Transport</a>
					<a href="modify">Modify Transport</a>
					<a href="cancel">Cancel Transport</a>
					<a href="logs" class="active">Logs</a>
					<a href="index">Logout</a>
		</nav>

		<section>
			<h1>Log User</h1>

	    <form class="searchform">
				
				<label id="usernamelabel" for="usernameinput"><strong>Username</strong></label> <!-- Username field -->
        <input autocomplete="off" id="usernameinput"  type="text" name="" placeholder="Enter Username" required>

				<button id="searchbtn" type="submit">Search</button> 
				<button id="cancelsearchbtn" type="reset">Clear</button>

				
			</form>
		</section>

	</body>

</html>
